<form>
location: <input type="text" ng-model="global.search" ng-change="apiSearch()" type="submit"/>
</form>



look at all the concerts in (your city)


<div data-ng-repeat="concert in ConcertIndexViewModel.concerts | filter: global.search">
<p><a data-ui-sref="concertShow({id: concert.id})"> {{concert.title}}</a></p>
<ul>
  <li>Headlining Artist: {{concert.artists[0]}}</li>
  <li data-ng-repeat = "artist in concert.artists"> {{artist}} </li>
  <li>City: {{concert.city}}</li>
  <li>Venue: {{concert.venue_name}}</li>

  <li>{{concert.datetime | date:'MM/dd/yyyy @ h:mma'}}</li>


</ul>
</div>
