
<form class = "center" data-ng-submit="show=true">
  <h2> Find Live Music in:</h2>
  <input placeholder="Enter a city" type="text" data-ng-model="global.search" data-ng-change="apiSearch()" />
</form>

<h2 data-ng-click = "newShow = true">Click to add a new Gig</h2>

<form data-ng-submit="ConcertIndexViewModel.create()" data-ng-show = "newShow" class = "newShow">

  <p><input placeholder="Concert Name" data-ng-model="ConcertIndexViewModel.concert.title"></input> <a data-ng-click = "newArtist1 = true"> (+) artist</a><br> </p>
  <p data-ng-show = "newArtist1"> <input placeholder="Artist" data-ng-model="ConcertIndexViewModel.concert.artist1"></input> <a data-ng-click = "newArtist2 = true"> (+) another artist</a></p>
  <p data-ng-show = "newArtist2"> <input placeholder="Artist" data-ng-model="ConcertIndexViewModel.concert.artist2"></input> <a data-ng-click = "newArtist3 = true"> (+) another artist</a></p>
  <p data-ng-show = "newArtist3"> <input placeholder="Artist" data-ng-model="ConcertIndexViewModel.concert.artist3"></input> </p>


  <p><input placeholder="City" data-ng-model="ConcertIndexViewModel.concert.city"></input></p>
  <p><input placeholder="Venue" data-ng-model="ConcertIndexViewModel.concert.venue_name"></input></p>
  <p><input placeholder="Address" data-ng-model="ConcertIndexViewModel.concert.venue_address"></input></p>

  <p><input placeholder="Date" data-ng-model="ConcertIndexViewModel.concert.datetime"></input></p>
  <p><input placeholder="Time" data-ng-model="ConcertIndexViewModel.concert.time"></input></p>

  <button type= "submit">Create</button>
  <button data-ng-click="newShow = false">Cancel</button>
</form>

<div data-ng-show="show">
  <div class = "col-lg-9" >
    <h2 class = "center">Concerts this week in {{global.search}}</h2>
    <div class = "concert" data-ng-repeat="concert in ConcertIndexViewModel.concerts | filter: global.search">
      <p><a data-ui-sref="concertShow({id: concert.id})"> {{concert.title}} at {{concert.venue_name}}</a></p>
      <ul>
        <li>{{concert.datetime | date:'MM/dd/yyyy @ h:mma'}}</li>
        <li>
          Artists:
          <ul data-ng-repeat = "artist in concert.artists">
            <li>{{artist.name}}</li>
          </ul>
        </li>
        <li>City: {{concert.city}}</li>
      </ul>
    </div>
  </div>


  <div class = "board" class = "col-sm-3">
    <h2 class = "center"> {{global.search}} discussion board</h2>
    <div class = "comment" data-ng-repeat="comment in ConcertIndexViewModel.comments | filter: global.search"> </div>

    <form data-ng-submit ="ConcertIndexViewModel.addComment()">
      <p><input placeholder="Name" data-ng-model="ConcertIndexViewModel.comment.name"></input></p>
      <textarea type="textbox" placeholder="Comment" data-ng-model="ConcertIndexViewModel.comment.content"></textarea>


      <p><input type=hidden name="city" value="{{global.search}}" data-ng-model="ConcertIndexViewModel.comment.city"/></p>


      <p><button type= "submit">Create</button></p>
    </div>
  </div>
