<form>
location: <input type="text" ng-model="global.search" ng-change="apiSearch()" type="submit" ng-click="show = ! show" />
</form>

<h2>Add a new show!</h2>
<form>
  <textarea placeholder "Concert" data-ng-model="ConcertIndexViewModel.concert.title"></textarea>
  <button type= "button" data-ng-click="ConcertIndexViewModel.create()">Submit</button>
</form>


look at all the concerts in (your city)

<div data-ng-show="show">
<div data-ng-repeat="concert in ConcertIndexViewModel.concerts | filter: global.search">
<p><a data-ui-sref="concertShow({id: concert.id})"> {{concert.title}}</a></p>
<ul>
  <li>Headlining Artist: {{concert.artists[0].name}}</li>
  <div data-ng-repeat = "artist in concert.artists">
    <li> {{artist.name}}</li>
  </div>
  <li>City: {{concert.city}}</li>
  <li>Venue: {{concert.venue_name}}</li>

  <li>{{concert.datetime | date:'MM/dd/yyyy @ h:mma'}}</li>


</ul>
</div>
</div>
