*{
  text-decoration: none !important;
}
#welcome{
  height: 100vh;
  width: 100vw;
  margin-left: -70px;
  margin-top: -400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("pic.gif");
}

body{
  background-image: url("bgg.png");
  padding: 0 70px;
}


h3 {
  text-align: center;
}
h3:hover {
  color: #CE8964;
  cursor: pointer;
}

h2.new:hover{
  color: #CE8964;
}

.timestamp {
  font-style: italic;
  font-size: 12px;
}

.pointer {
  cursor: pointer;

}

.center {
  text-align: center;
}

.commentBoard {
  background-color: #ce8964;
  border-radius: 6px;
  width: 290px;
  height: 800px;
  float: right;
  margin-right: 30px;
  padding: 0 10px;
  overflow: scroll;
}

.commentBoard a {
  color: inherit;
}


.commentBoard h3:hover{
  color: black;
  transition: color .2s ease-in;
}

ul {
  list-style-type: none;
}

.concert {
  height: 200px;
  width: 200px;
  float: left;
  background-color: #DFF2D8;
  border-radius: 10px;
  margin: 6px;
  padding: 10px;
  overflow: scroll;
}

.concert a {
  font-size: 16px;
  line-height: 15px;
  font-weight: bold;
  color: #832232;
  transition: color .2s ease-in;
}

.concert a:hover{
  color: #CE8964;
}

.concert p {
  text-align: center;
}

header {
  text-align: center;
  margin-left: -50px;
  font-family: 'Raleway', sans-serif;
}

.title {
  font-size: 120px;
  padding-top: 20px;
  margin-left: 100px;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 20px;
}


.intro{
  font-size: 70px;
  margin-left: 80px;
  text-transform: lowercase;
  color: #DFF2D8;
}

h1{
  margin-top: 80px;
}

.angular-google-map-container {
  width: 600px;
  height: 400px;
  margin: 20px;
}

.comment {
  background-color: #DFF2D8;
  margin: 14px 0px;
  padding: 4px 10px;
  line-height: 14px;
  border-radius: 10px;

}

header button {
  margin-top: 5px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:(top, #ededed 5%, #dfdfdf 100%);
  background:(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  border-radius:20px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family: helvetica neue;
  font-size:20px;
  font-weight:bold;
  padding:14px 38px;
  text-shadow:0px 0px 0px #ffffff;
}
header button:hover {
  background:gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:(top, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
header button:active {
  position:relative;
  top:1px;
  outline: none;
}
button {
  margin-top: 5px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background:(top, #ededed 5%, #dfdfdf 100%);
  background:(to bottom, #ededed 5%, #dfdfdf 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
  background-color:#ededed;
  border-radius:8px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#777777;
  font-family: helvetica neue;
  font-size:14px;
  font-weight:bold;
  padding:6px 15px;
}
button:hover {
  background:gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background:(top, #dfdfdf 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
  background-color:#dfdfdf;
}
button:active {
  position:relative;
  top:1px;
  outline: none;
}

input{
    background:#F8F8F8;
    color:#999999;
    border:1px solid #DCDCDC;
    border-radius:8px ;
    font-size:14px ;
    height: 16px ;
    width: 275px;
    line-height:16px ;
    padding: 17px ;
    box-shadow: 1px 0px 2px #DCDCDC;
    outline: none !important;
}

.center input {
  background:#F8F8F8;
  color:#999999;
  border:1px solid #DCDCDC;
  border-radius:12px ;
  font-size:22px ;
  height: 33px ;
  line-height:33px ;
  width: 354px ;
  padding: 17px ;
  box-shadow: 1px 0px 8px #DCDCDC;
  outline: none !important;
  }


  .commentBoard textarea{
      background:#F8F8F8;
      color:#999999;
      width: 275px;
      border:1px solid #DCDCDC;
      border-radius:8px;
      font-size:14px;
      line-height:16px;
      padding: 7px;
      height: 100px;
      box-shadow: 1px 0px 2px #DCDCDC;
      outline: none !important;
  }

small{
  font-size: 110px;
  letter-spacing: 10px;
}
